<h2>homepage</h2>

  <div id="scene">
    <div data-depth="0.2">My first Layer!</div>
    <div data-depth="0.6">My second Layer!</div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

<script src="./assets/scripts/parallax.js"></script>

	{{!-- <script>
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);
	</script> --}}

